.navbar {
    position: fixed;
    box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.04);
    width: 100%;
    z-index: 99;
    padding: 0;
    .navbar-brand {
        img {
            position: relative;
            z-index: 1;
            left: 62px;
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 92px;
            width: 12em;
            background-color: $blueColor;
        }
    }
    .navbar-collapse {
        .navbar-nav {
            li {
                list-style: none;
            }
            .nav-item {
                padding: 30px 15px;
                .nav-link {
                    padding: 0;
                    font-weight: 800;
                    font-size: 13px;
                    color: #333333;
                    display: block;
                    transition: all 0.35s ease-in-out;
                    letter-spacing: 0.06em;
                    text-transform: uppercase;
                    &::after {
                        content: "\f107";
                        font-family: "Font Awesome 5 Free";
                    }
                }
                &:hover {
                    .nav-link {
                        color: $blueColor;
                        &::after {
                            content: "\f106";
                        }
                    }
                    .hover-menu {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
            .hover-menu {
                position: absolute;
                visibility: hidden;
                top: 89%;
                width: 250px;
                opacity: 0;
                transition: all 0.4s ease-in-out;
                background: #fff none repeat scroll 0 0;
                border: 1px solid transparent;
                border-radius: 2px;
                box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.15);
                padding: 0;
                transform: translateY(10px);
                li {
                    a {
                        border-bottom: solid 1px #f5f5f5;
                        font-weight: 600;
                        color: #333333;
                        display: block;
                        font-size: 14px;
                        margin-bottom: 0;
                        padding: 10px 15px;
                        text-align: left;
                        text-transform: capitalize;
                        width: 100%;
                        transition: all 0.5s ease-in-out;

                        &:hover {
                            color: $blueColor;
                        }
                    }
                }
            }
            .nav-contact {
                padding: 0;
                font-weight: 800;
                font-size: 13px;
                color: #333333;
                display: block;
                transition: all 0.35s ease-in-out;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                &:hover{
                    color: $blueColor;
                }
            }
        }
    }
}
#applying-data {
    background-color: $backgroundColor;
    height: 100vh;
    padding-top: 90px;
    h2 {
        font-family: $primary_font_family;
        font-size: 36px;
        display: block;
        font-weight: 200;
        margin-bottom: 20px;
    }
    h1 {
        font-family: $primary_font_family;
        font-size: 60px;
        font-weight: 800;
        line-height: 1;
        margin-bottom: 30px;
    }
    p {
        font-family: $primary_font_family;
        color: #666666;
        line-height: 28px;
        margin: 0 0 15px;
        text-transform: none;
        font-weight: 400;
    }

    .image {
        img {
            max-width: 120%;
        }
    }
}
#feature {
    position: relative;
    padding: 120px 0;
    .image {
        z-index: 98;
    }
    .carousel-card {
        z-index: 5;
        .feature-items {
            .owl-stage-outer {
                margin: -15px -15px 0;
                padding: 15px;
                .owl-stage {
                    left: -100px;
                    .owl-item {
                        padding: 50px;
                        border-bottom: 3px solid $blueColor;
                        box-shadow: 0 0 10px $boxShadowColor;
                        background: $whiteColor;
                        border-radius: 10px;
                        .icon {
                            i {
                                padding-bottom: 30px;
                                padding-top: 20px;
                                font-size: 70px;
                                display: inline-block;
                                background: linear-gradient(90deg, rgba(3, 25, 65, 1) 0%, rgba(67, 126, 235, 1) 100%);
                                -webkit-background-clip: text;
                                -moz-background-clip: text;
                                background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                        }
                        h3 {
                            font-weight: 700;
                            margin-bottom: 25px;
                            margin-top: 13px;
                        }
                        .bottom {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-top: 25px;
                            overflow: hidden;
                        }
                    }
                }
            }
            .owl-dot {
                margin-top: 20px;
                span {
                    display: block;
                    height: 20px;
                    width: 20px;
                    margin: 0 5px;
                    border-radius: 50%;
                    background: $whiteColor;
                    position: relative;
                    z-index: 1;
                    box-shadow: 0 0 10px $boxShadowColor;
                }
                &.active {
                    span {
                        &::after {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            content: "";
                            height: 5px;
                            width: 5px;
                            transform: translate(-50%, -50%);
                            background: $blueColor;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
    .feature-img {
        position: absolute;
        left: 0;
        top: 65%;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
}
#about-us {
    // padding: 120px;
    background-color: $backgroundColor;
    .heading {
        h4 {
            position: relative;
            display: inline-block;
            text-transform: uppercase;
            font-weight: 800;
            color: $blueColor;
            font-size: 20px;
            z-index: 1;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 10px;
                width: 100%;
                background: $blueColor;
                z-index: -1;
                opacity: 0.1;
            }
        }
        h2 {
            position: relative;
            display: block;
            font-weight: 700;
            margin-bottom: 35px;
            font-size: 36px;
        }
    }

    .center-tabs {
        margin-top: 40px;
        border-bottom: none;
        margin-bottom: 40px;
        .nav-tabs {
            border-bottom: none;
            margin-bottom: 40px;
            li {
                float: none;
                display: inline-block;
                margin: 0;
                padding: 0;
                border: none;
                a {
                    display: block;
                    border: none;
                    border-radius: 5px;
                    padding: 10px 25px;
                    position: relative;
                    z-index: 1;
                    color: #666666;
                    &.active {
                        background: linear-gradient(90deg, rgba(30, 85, 189, 1) 0%, rgba(67, 126, 235, 1) 100%);
                        color: $whiteColor;
                        &::after {
                            position: absolute;
                            left: 50%;
                            bottom: -15px;
                            content: "";
                            height: 15px;
                            width: 1px;
                            background: $blueColor;
                        }
                        &::before {
                            position: absolute;
                            left: 50%;
                            bottom: -24px;
                            content: "";
                            height: 10px;
                            width: 10px;
                            border: 2px solid $blueColor;
                            margin-left: -5px;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
    .tab-content {
        margin-top: -30px;
        padding: 50px;
        background: $whiteColor;
        border-top: 3px solid $blueColor;
        box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
        .tab-pane {
            .info {
                padding-right: 35px;
                text-align: left;
                h3 {
                    margin-bottom: 20px;
                    font-weight: 700;
                    color: #232323;
                }
            }
        }
    }
}
#fact {
    background-color: $backgroundColor;
    background-image: url("../img/map.svg");
    padding: 120px 0;
    .fact-item {
        .item {
            .timer {
                display: block;
                font-size: 50px;
                font-weight: 800;
                line-height: 1;
                margin-top: -5px;
                margin-bottom: 15px;
                color: #232323;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                background: linear-gradient(90deg, rgba(3, 25, 65, 1) 0%, rgba(67, 126, 235, 1) 100%);
                -webkit-background-clip: text;
            }
            span {
                display: block;
                font-weight: 600;
                font-size: 18px;
                margin-bottom: -5px;
                color: #232323;
            }
        }
    }
}
#services {
    padding-top: 40px;
    position: relative;

    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: -26px;
        top: -3px;
        height: 365%;
        width: 85px;
        background: #f4f7fc;
        z-index: 1;
        border-radius: 50px;
    }

    h2 {
        font-weight: 700;
        margin-top: 50px;
        font-size: 36px;
    }
    p {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .image {
        position: absolute;
        right: 50px;
        top: 92px;
        img {
            -webkit-animation: spin 10s linear infinite;
            -moz-animation: spin 10s linear infinite;
            animation: spin 10s linear infinite;
        }
    }
    @-moz-keyframes spin {
        100% {
            -moz-transform: rotate(360deg);
        }
    }
    @-webkit-keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    @keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}
#services-items {
    padding-bottom: 120px;
    .item {
        box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
        padding: 50px 30px;
        background: $whiteColor;
        position: relative;
        z-index: 1;
        overflow: hidden;
        border-radius: 5px;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -100%;
            height: 100%;
            width: 100%;
            background: linear-gradient(to bottom, $blueColor 0%, #093ac1 100%);
            opacity: 0;
            z-index: -1;
            transition: all 0.25s ease-in-out;
        }
        &:hover::after {
            opacity: 1;
            bottom: 0;
        }
        &:hover {
            .btn-standard {
                color: $whiteColor;
                i {
                    box-shadow: none;
                }
            }
            h4 {
                color: $whiteColor;
            }
            p {
                color: $whiteColor;
            }
        }
        h4 {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        img {
            width: 100px;
            height: auto;
            margin-bottom: 30px;
            min-height: 100px;
        }
    }
}
#workProcess {
    padding: 120px 0;
    background-color: $backgroundColor;
    .heading {
        position: relative;
        h4 {
            position: relative;
            display: inline-block;
            text-transform: uppercase;
            font-weight: 800;
            color: $blueColor;
            font-size: 20px;
            z-index: 1;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 10px;
                width: 100%;
                background: $blueColor;
                z-index: -1;
                opacity: 0.1;
            }
        }
        h2 {
            position: relative;
            display: block;
            font-weight: 700;
            margin-bottom: 60px;
            font-size: 36px;
        }
    }
    .work-process-item {
        .icon {
            i {
                font-size: 50px;
                background: linear-gradient(90deg, rgba(30, 85, 189, 1) 0%, rgba(67, 126, 235, 1) 100%);
                line-height: 112px;
                width: 34%;
                height: 100%;
                display: inline-block;
                color: $whiteColor;
                border-radius: 50%;
                @include transition(all 0.35s ease-in-out);
            }
            img {
                position: absolute;
                width: 200px;
                right: -97px;
                top: 14px;
            }
            span {
                background: $whiteColor;
                position: absolute;
                right: 34%;
                top: -1px;
                height: 35px;
                line-height: 35px;
                width: 35px;
                z-index: 1;
                color: $blueColor;
                font-weight: 800;
                font-size: 14px;
                border-radius: 50%;
                box-shadow: 0 0 10px $boxShadowColor;
            }
        }
        .info {
            position: relative;
            h4 {
                font-weight: 800;
                margin-bottom: 10px;
                margin-top: 20px;
                padding-top: 70px;
                &::before {
                    content: "";
                    border-left: 2px dashed #dddddd;
                    top: 18px;
                    height: 40px;
                    left: 50%;
                    position: absolute;
                    @include transition(all 0.35s ease-in-out);
                    width: 1px;
                    z-index: 1;
                    margin-left: -1px;
                }
            }

            p {
                &::after {
                    content: "";
                    border: 2px solid #dddddd;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    top: 0px;
                    height: 14px;
                    left: 50%;
                    position: absolute;
                    transform: translateX(-50%);
                    @include transition(all 0.35s ease-in-out);
                    width: 14px;
                    z-index: 1;
                }
            }
        }
        &:hover {
            h4 {
                &::before {
                    height: 0px;
                }
            }
        }
    }
}

#our-skill {
    padding: 120px 0;
    position: relative;

    .our-skills-text-progressBar {
        h2 {
            font-weight: 700;
        }
        h3 {
            margin-bottom: 30px;
            font-weight: 600;
            color: #666666;
        }
        .progress-barss {
            .item {
                margin-bottom: 20px;
                .info {
                    h5 {
                        font-size: 14px;
                        text-transform: uppercase;
                        font-weight: 800;
                        margin-bottom: 5px;
                        text-align: left;
                    }
                }
                .progress {
                    height: 6px;
                    .progress-bar {
                        border-radius: 30px;
                        background: linear-gradient(90deg, rgba(30, 85, 189, 1) 0%, rgba(67, 126, 235, 1) 100%);
                    }
                }
            }
        }
    }
    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: -24px;
        top: -6px;
        height: 111%;
        width: 96px;
        background: #f4f7fc;
        z-index: 1;
        border-radius: 50px;
    }
    .image {
        img {
            box-shadow: 0 0 10px $boxShadowColor;
        }
        position: relative;
        max-width: 80%;
        border: 1px solid $whiteColor;
        .img2 {
            position: absolute;
            border: 1px solid $whiteColor;
            top: 50%;
            left: 78%;
            height: 73%;
        }
        &::after {
            position: absolute;
            left: 22%;
            top: 9%;
            height: 509px;
            width: 509px;
            border: 50px solid $blueColor;
            content: "";
            z-index: -1;
            opacity: 0.07;
            border-radius: 50%;
        }
    }
}
#testimonials-area {
    padding-top: 70px;
    padding-bottom: 120px;
    .testimonials-head {
        h4 {
            position: relative;
            text-transform: uppercase;
            font-weight: 800;
            color: $blueColor;
            font-size: 20px;
            position: relative;
            z-index: 1;
            display: inline-block;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 10px;
                width: 100%;
                background: $blueColor;
                z-index: -1;
                opacity: 0.1;
            }
        }
        h2 {
            display: block;
            font-weight: 700;
            position: relative;
            margin-bottom: 60px;
            font-size: 36px;
        }
    }
    .testimonials-carousel {
        .carousel {
            .carousel-inner {
                .carousel-item {
                    i {
                        position: relative;
                        display: inline-block;
                        background: #edf5ff none repeat scroll 0 0;
                        line-height: 70px;
                        height: 70px;
                        width: 70px;
                        color: $blueColor;
                        font-size: 25px;
                        text-align: center;
                        border-radius: 50%;
                        margin-bottom: 30px;
                        &::after {
                            content: "";
                            position: absolute;
                            left: 50%;
                            bottom: -8px;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 10px solid #edf5ff;
                            margin-left: -10px;
                        }
                    }
                    h4 {
                        font-weight: 700;
                        margin-bottom: 5px;
                        text-transform: capitalize;
                        margin-top: 25px;
                        border-top: 1px solid #e7e7e7;
                        padding-top: 30px;
                    }
                    span {
                        color: $blueColor;
                        font-weight: 600;
                        text-transform: capitalize;
                    }
                }
            }
            .carousel-indicators {
                position: relative;
                margin-top: 35px;
                li {
                    margin: 0 20px;
                    &.active {
                        transition: all 0.35s ease-in-out;
                        transform: scale(1.4);
                        margin: 0 25px;
                        img {
                            background: linear-gradient(to right, rgba(30, 85, 189, 1) 0%, rgba(67, 126, 235, 1) 100%);
                        }
                    }
                    img {
                        box-shadow: 0 0 10px $boxShadowColor;
                        display: block;
                        height: auto;
                        width: 100%;
                        padding: 5px;
                        border-radius: 50%;
                        height: 55px;
                        width: 55px;
                        min-width: 55px;
                        min-height: 55px;
                    }
                }
            }
        }
    }
}
#blog-area {
    position: relative;
    padding: 120px 0;
    background-color: $backgroundColor;
    h2 {
        font-weight: 700;
        font-size: 36px;
    }
    .text {
        margin-left: 95px;
        p {
            margin-bottom: 25px;
        }
    }
    .item {
        box-shadow: 0 0 10px $boxShadowColor;
        background: $whiteColor;
        border-radius: 10px;
        .photo {
            position: relative;
            img {
                max-width: 100%;
                border-radius: 10px 10px 0 0;
            }
            .date {
                position: absolute;
                left: 30px;
                bottom: -30px;
                text-align: center;
                background: $whiteColor;
                padding: 15px 30px;
                text-transform: capitalize;
                font-weight: 600;
                line-height: 27px;
                box-shadow: 0 0 10px $boxShadowColor;
                border-radius: 5px;
            }
        }
        .content {
            padding: 30px;
            padding-top: 55px;
            h4 {
                margin-bottom: 20px;
            }
            .meta {
                ul {
                    list-style: none;
                    i {
                        color: $blueColor;
                    }
                    li {
                        display: inline-block;
                        text-transform: uppercase;
                        font-size: 13px;
                        margin-right: 7px;
                        position: relative;
                        z-index: 1;
                        margin-bottom: 5px;
                        a {
                            display: inline-block;
                            font-weight: 700;
                            color: #666666;
                        }
                    }
                }
            }
            .bottom {
                a {
                    margin-top: 7px;
                }
            }
        }
    }
    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: -29px;
        top: -6px;
        height: 101%;
        width: 95px;
        background: $whiteColor;
        z-index: 1;
        border-radius: 50px;
    }
}
#footer {
    padding-top: 120px;
    img {
        margin-bottom: 30px;
    }
    ul {
        li {
            list-style: none;
            margin-bottom: 18px;
        }
    }
    .links {
        ul {
            li {
                a {
                    display: inline-block;
                    color: #666666;
                    font-weight: 600;
                }
            }
        }
    }
    h4 {
        display: inline-block;
        position: relative;
        margin-bottom: 30px;
        font-weight: 700;
        z-index: 1;
    }

    .social-icons {
        display: flex;
        margin-top: 25px;
        li {
            margin-right: 7px;
            a {
                i {
                    display: inline-block;
                    width: 37px;
                    height: 37px;
                    line-height: 40px;
                    text-align: center;
                    color: $whiteColor;
                    border-radius: 10px;
                    font-size: 14px;
                }
            }
        }
        .fa-facebook-f {
            background: linear-gradient(120deg, #3b5998, #0078d7);
        }
        .fa-twitter {
            background-color: #1da1f2;
        }
        .fa-youtube {
            background-color: #ff0000;
        }
        .fa-instagram {
            font-size: 29px;
            line-height: 38px;
            background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
                radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
                radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
                radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
                radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
                radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
                radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
                linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        }
    }
}
#footerEnd {
    padding: 101px 0;
    background: linear-gradient(rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 0.93)), url("../img/footerPic.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
    .validThemes {
        position: absolute;
        top: 28px;
        left: 0;
        a {
            color: $blueColor;
            font-weight: 700;
            text-decoration: underline;
        }
    }
    .footerEnd-text {
        position: absolute;
        top: 28px;
        right: 3px;
        ul {
            display: flex;
            justify-content: end;
            li {
                list-style: none;
                margin-left: 15px;
            }
        }
    }
}
