#navbar {
    .navbar-brand {
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 92px;
            width: 12em;
        }
    }
}
#services-area {
    padding: 120px 0;
    position: relative;

    .service-carousel {
        .owl-stage-outer {
            margin: -15px -15px 0;
            padding: 15px;
            .item {
                position: relative;
                overflow: hidden;
                background: $whiteColor;
                padding: 50px 30px;
                box-shadow: 0 0 10px $boxShadowColor;
                border-radius: 5px;
                // box-shadow: 0 5px 30px 0 rgba(56, 57, 58, 0.57);
                z-index: 1;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -100%;
                    height: 100%;
                    width: 100%;
                    background: linear-gradient(to bottom, $blueColor 0%, #093ac1 100%);
                    opacity: 0;
                    z-index: -1;
                    transition: all 0.25s ease-in-out;
                }
                &:hover::after {
                    opacity: 1;
                    bottom: 0;
                }
                &:hover {
                    .btn-standard {
                        color: $whiteColor;
                        i {
                            box-shadow: none;
                        }
                    }
                    h4 {
                        color: $whiteColor;
                    }
                    p {
                        color: $whiteColor;
                    }
                }
                h4 {
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 20px;
                }
                img {
                    width: 100px;
                    height: auto;
                    margin-bottom: 30px;
                    min-height: 100px;
                }
            }
        }
        .owl-dot {
            margin-top: 20px;
            span {
                display: block;
                height: 20px;
                width: 20px;
                margin: 0 5px;
                border-radius: 50%;
                background: $whiteColor;
                position: relative;
                z-index: 1;
                box-shadow: 0 0 10px $boxShadowColor;
            }
            &.active {
                span {
                    &::after {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        content: "";
                        height: 5px;
                        width: 5px;
                        transform: translate(-50%, -50%);
                        background: $blueColor;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
    .shape-fixed {
        .image {
            position: absolute;
            right: 52px;
            top: 113px;
            img {
              
                animation: spin 10s linear infinite;
            }
        }
    }
    @keyframes rotate-animation {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(180deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}
#start-us {
    background: linear-gradient(90deg, rgba(2, 59, 166, 1) 0%, rgba(67, 126, 235, 1) 100%);
    padding: 120px 0;
    position: relative;
    .fixed-bg {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        opacity: 0.6;
        background-size: contain;
    }
    .service-info {
        h2 {
            font-weight: 700;
            line-height: 1.3;
            margin-top: -5px;
            margin-bottom: 30px;
            color: $whiteColor;
        }
        p {
            color: $whiteColor;
        }
        .btn-standard {
            color: $whiteColor;
            border-color: transparent;
            border: 1px solid $borderColor;

            &:hover {
                color: $blueColor;
                background-color: $whiteColor;
            }
        }
    }
}
