* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  overflow-x: hidden;
  background-color: #ffffff;
  color: #666666;
}

html, body, .wrapper {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #232323;
  font-weight: normal;
  line-height: 1.2;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  margin-bottom: 15px;
}

h5, h5 {
  margin-bottom: 10px;
}

img {
  border: none;
  outline: none;
  max-width: 100%;
}

a, .btn, button {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  outline: medium none;
}

p {
  color: #666666;
  line-height: 28px;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

a, a:active, a:focus, a:hover {
  outline: none;
  text-decoration: none;
  color: #232323;
}

/*
    Flaticon icon font: Flaticon
    Creation date: 04/06/2020 18:52
    */
@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"), url("./Flaticon.woff2") format("woff2"), url("./Flaticon.woff") format("woff"), url("./Flaticon.ttf") format("truetype"), url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-competition:before {
  content: "\f100";
}

.flaticon-target:before {
  content: "\f101";
}

.navbar {
  position: fixed;
  -webkit-box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.04);
  width: 100%;
  z-index: 99;
  padding: 0;
}

.navbar .navbar-brand {
  position: relative;
  z-index: 1;
  padding-left: 0;
  padding: 20px 30px;
}

.navbar .navbar-brand::before {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  height: 90px;
  width: 500%;
  background: #437eeb;
  z-index: -1;
}

#applying-data {
  background-color: #f5f8fc;
  height: 100vh;
  padding-top: 90px;
}

#applying-data h2 {
  font-family: "Nunito", sans-serif;
  font-size: 36px;
  display: block;
  font-weight: 200;
  margin-bottom: 20px;
}

#applying-data h1 {
  font-family: "Nunito", sans-serif;
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 30px;
}

#applying-data p {
  font-family: "Nunito", sans-serif;
  color: #666666;
  line-height: 28px;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
}

#applying-data .btn {
  display: inline-block;
  padding: 15px 40px;
  font-size: 14px;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
  line-height: 25px;
  border-radius: 80px;
  -webkit-transition: all 0.35s ease-out 0s;
  transition: all 0.35s ease-out 0s;
  letter-spacing: 1px;
  overflow: hidden;
}

#applying-data .btn:focus {
  background-image: -webkit-gradient(linear, left top, right top, from(#1e55bd), to(#437eeb));
  background-image: linear-gradient(90deg, #1e55bd 0%, #437eeb 100%);
  color: #ffffff !important;
  background-color: #437eeb;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

#applying-data i {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 28px;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-size: 10px;
  border-radius: 50%;
  margin-left: 5px;
  border: 1px dashed rgba(255, 255, 255, 0.5);
}

#applying-data .image img {
  max-width: 120%;
}

#feature {
  padding: 120px;
  position: relative;
}

#feature .feature-items .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
  overflow: hidden;
}

#feature .feature-items .bottom a {
  display: inline-block;
  border: 1px solid #e7e7e7;
  padding: 10px 40px;
  border-radius: 30px;
  color: #437eeb;
  font-weight: 700;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#feature .feature-items .bottom:after {
  background: -webkit-gradient(linear, left top, right top, from(#437eeb), to(#1e55bd));
  background: linear-gradient(90deg, #437eeb 0%, #1e55bd 100%);
}

#feature .feature-items h3 {
  font-weight: 700;
  margin-bottom: 25px;
}

#feature .carousel-card {
  z-index: 98;
}

#feature .feature-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#about-us {
  background-color: #f5f8fc;
}

#about-us .heading h4 {
  text-transform: uppercase;
  font-weight: 800;
  color: #437eeb;
  font-size: 20px;
  position: relative;
  z-index: 1;
  display: inline-block;
}

#about-us .heading h2 {
  display: block;
  font-weight: 700;
  position: relative;
  margin-bottom: 35px;
  font-size: 36px;
}
/*# sourceMappingURL=style.css.map */