@media only screen and (max-width: 767px) {
    #anada-head{
        padding-top: 154px !important;
        padding-bottom: 107px !important;
    }
    #about-us-area {
        padding: 40px 0;
        &::after {
            bottom: -11% !important;
        }
        .information{
            h2{
                font-size: 26px;
            }
            h4{
                font-size: 18px
            }
        }
    }
    #feature-list {
        padding: 40px 0;
        .item {
            margin-bottom: 20px;
        }
    }
    #our-story {
        padding: 10px 0 0 0;
        .our-story-items {
            .item {
                position: relative;
                margin-bottom: 30px;
                padding-bottom: 30px;
                
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 5%;
                    width: 90%;
                    height: 1px;
                    border-bottom: 1px dashed #dddddd;
                }
            }
            &::after {
                display: none !important;
            }
        }
    }
    #our-skills {
        padding:0;
        .our-skills-text-progressBar{
            text-align: center;
        }
        .image {
            &::after {
                display: none !important;
            }
            .img2 {
                left: 58%;
            }
        }
    }
    #our-experts{
        padding: 120px 0 40px 0;
        .expert-item{
            margin-bottom: 20px !important;
            &:first-child{
                padding: 0 !important;
            }
            .social-link{
                bottom: 23% !important;
            }
            .info{
                margin-top: 19px !important;
            }
        }
    }
}
