@media only screen and (max-width: 767px) {
    #footer {
        padding: 20px 0;
        .links {
            display: none !important;
        }
        .validThemes {
            top: 0 !important;
            left: 5px !important;
            p {
                padding: 1 16px;
                font-size: 13px !important;
            }
        }
        .footerEnd-text {
            display: none !important;
        }
        .footer-shape {
            display: none;
        }
    }
    #footer-dark {
        padding: 40px 0;
        .col-lg-2 {
            margin-right: 50px;
        }
        .links {
            display: none !important;
        }
        .validThemes {
            // display: none !important;
            top: -20px !important;
            left: 13px;
            p {
                font-size: 11px !important;
            }
        }
        .footerEnd-text {
            display: none !important;
        }
    }
}
