@media only screen and (max-width: 767px) {
    #applying-data {
        padding: 110px 0 0 0;
        height: 58vh;
        h2 {
            font-size: 31px;
        }
        h1 {
            font-size: 36px;
        }
        .image {
            img {
                display: none;
            }
        }
    }
    #feature {
        padding: 40px 0;
        .feature-items {
            .owl-stage-outer {
                .owl-stage {
                    left: 0 !important;
                }
            }
            .owl-dots {
                display: none !important;
            }
        }
        .feature-img {
            display: none !important;
        }
    }
    #about-us {
        padding: 20px 0;

        .nav-tabs {
            display: block !important;
            margin-bottom: 14px !important;
            li {
                display: block !important;
                a {
                    &::before {
                        display: none !important;
                    }
                    &::after {
                        display: none !important;
                    }
                }
            }
        }
    }
    #services {
        .shape-fixed {
            display: none;
        }
        &::before {
            display: none;
        }
    }
    #services-items {
        padding: 40px 0;

        .item {
            text-align: center;
            margin-top: 20px;
        }
    }
    #workProcess {
        padding: 20px 0;
        .icon {
            img {
                display: none;
            }
        }
    }
    #our-skill {
        padding: 20px 0;

        &::before {
            display: none;
        }
        .image {
            margin-top: 10px;
            &::after {
                display: none;
            }
            .img2 {
                left: 57%;
            }
        }
    }
    #blog-area {
        padding: 20px 0;

        &::before {
            display: none;
        }
        .text {
            margin-left: 0;
        }
        .item {
            margin-top: 22px;
        }
    }
  

    // #blog-single-area {
    //     .button {
    //         a {
    //             display: inline-block;
    //             text-transform: capitalize;
    //             color: #437eeb;
    //             border: 1px solid;
    //             border-radius: -16px;
    //             font-weight: 400;
    //             padding: -1px 30px;
    //         }
    //     }
    // }
}
