@media only screen and (max-width: 767px) {
    #navbar {
        .navbar-brand {
            img {
                left: 75% !important;
            }
            .logo-light {
                display: none !important;
            }
            .logo-black {
                display: block !important;
            }
            &::after {
                content: none !important;
            }
        }
        .nav-icons {
            position: absolute !important;
            top: 0 !important;
        }
        .brandBG {
            img {
                left: 75% !important;
            }
        }
        .nav-icons1 {
            position: absolute !important;
            top: -13px !important;
            color: black !important;
        }
        .navbar {
            background-color: #f8f9fa !important;
            .nav-link1 {
                color: #333333 !important;
            }
            .nav-contact1 {
                color: #333333;
            }
            .nav-icons1 {
                a {
                    color: #333333;
                }
            }
            .brandPic {
                display: none !important;
            }
            .brandPic1 {
                display: block !important;
            }
        }
    }
    #applying-data {
        padding: 110px 0 0 0;
        height: 58vh;
        h2 {
            font-size: 31px;
        }
        h1 {
            font-size: 36px;
        }
        .image {
            img {
                display: none;
            }
        }
    }
    #feature {
        padding: 40px 0;
        .feature-items {
            .owl-stage-outer {
                .owl-stage {
                    left: 0 !important;
                }
            }
            .owl-dots {
                display: none !important;
            }
        }
        .feature-img{
            display: none !important;
        }
    }
    #about-us {
        padding: 20px 0;
        
        .nav-tabs {
            display: block !important;
            margin-bottom: 14px !important;
            li {
                display: block !important;
                a {
                    &::before {
                        display: none !important;
                    }
                    &::after {
                        display: none !important;
                    }
                }
            }
        }
    }
    #services {
        .shape-fixed {
            display: none;
        }
        &::before {
            display: none;
        }
    }
    #services-items {
        padding: 40px 0;

        .item {
            text-align: center;
            margin-top: 20px;
        }
    }
    #workProcess {
        padding: 20px 0;
        .icon {
            img {
                display: none;
            }
        }
    }
    #our-skill {
        padding: 20px 0;

        &::before {
            display: none;
        }
        .image {
            margin-top: 10px;
            &::after {
                display: none;
            }
            .img2 {
                left: 57%;
            }
        }
    }
    #blog-area {
        padding: 20px 0;

        &::before {
            display: none;
        }
        .text {
            margin-left: 0;
        }
        .item {
            margin-top: 22px;
        }
    }
    #footer {
        padding: 20px 0;
        // .image {
        //     img {
        //         display: none;
        //     }
        // }
        .links {
            display: none !important;
        }
        .validThemes {
            top: 0 !important;
            p {
                padding: 1 16px;
            }
        }
        .footerEnd-text {
            display: none !important;
        }
        .footer-shape{
            display: none;
        }
    }
    #footer-dark {
        padding: 40px 0;
        .col-lg-2 {
            margin-right: 50px;
        }
        .links {
            display: none !important;
        }
        .validThemes {
            // display: none !important;
            top: -20px !important;
        }
        .footerEnd-text {
            display: none !important;
        }
    }

    // #blog-single-area {
    //     .button {
    //         a {
    //             display: inline-block;
    //             text-transform: capitalize;
    //             color: #437eeb;
    //             border: 1px solid;
    //             border-radius: -16px;
    //             font-weight: 400;
    //             padding: -1px 30px;
    //         }
    //     }
    // }
}
