@media only screen and (max-width: 767px) {
   #services-single-are {
    padding: 40px 0;
    .single-area-p {
        display: none;
    }
    .btn-gradient {
        padding: 15px 8px;
    }
    .sidebar-item:last-child{
        margin-bottom: 0;
    }
} 
}
